<!DOCTYPE html>
<html xmlns:display="http://www.w3.org/1999/xhtml">
{% load static %}
<title>Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
#body{
  background-image: url('{% static 'auth.jpg' %}');
  background-repeat: no-repeat;
  background-size: 1300px 760px;
  }
.bg-img {
  border: 3px solid;
  top : 80px;
  border-radius: 5%;
  min-height: 600px;
  background-position: center;
  position: relative;
  background-color: white;
  box-shadow: 30px 30px 30px 30px rgba(0.2,0.2,0,0.2);
}
</style>
<script>
     function valid(){
            if(document.form.key.value == ""){
                alert("Please give some input...");
                return false;
            }
        }
</script>
<body id="body">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="" class="w3-bar-item w3-button"><b>Plug</b>In</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-left w3-hide-small" style="padding-left:280px; padding-top:6px;">
      <div class="input-group">
        <form name="form" action="get_list" method="POST" onsubmit="return valid()">
          {% csrf_token %}
          <input type="text" class="form-control" name="key" placeholder="People names..." style="border: 2px solid black; border-radius: 6px;">
          <input type="submit" value="Search" class="form-control">
        </form>
      </div>
    </div>
    <div class="w3-right w3-hide-small">
      {% if user.is_authenticated %}
      <a href="log_in" class="w3-bar-item w3-button">Hi {{user.username}}</a>
      <a href="logout" class="w3-bar-item w3-button">Logout</a>
      {% endif %}
    </div>
  </div>
</div>
{% block content %}
<div class="bg-img" style="width:500px; margin:auto">
  &nbsp;&nbsp;&nbsp;<img src="{% static 'profile.png' %}" alt="Avatar" style="position: relative; top:50px; height:100px; width:100px; border-radius: 50%;">
  <h3><p style="position: relative; top:-50px; left: 130px; font-family: Lucida Console, Courier New, monospace;">its_me_{{user.username}}</p></h3>
  <div><span style="position: relative; top:-70px; left: 130px; font-family: Lucida Console, Courier New, monospace;">0</span><span style="position: relative; top:-70px; left: 135px;">posts</span><span style="position: relative; top:-70px; left: 150px;">0</span><span style="position: relative; top:-70px; left: 155px;">followers</span><span style="position: relative; top:-70px; left: 170px;">0</span><span style="position: relative; top:-70px; left: 175px;">following</span></div>
  <div>
  <form action="upload/{{user.username}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <input type="file" id="files" style="position: relative; top:-10px; left:60px" class="hidden"/>
      <input type="Submit" style="position: relative; top:-10px; left:-20px" value="add post">
  </form>
</div>
</div>
{% endblock %}
</body>
</html>
